@*<div id="schedule"></div>*@
    <div class="control-section">
        <button type="button">Send Data to Google</button>
        <ejs-schedule id="schedule" height="650">
            <e-schedule-eventsettings dataSource="@ViewBag.appointments"></e-schedule-eventsettings>
        </ejs-schedule>
    </div>